.content
  = render :partial => 'layouts/menu'

%h1 Add New Instructor

= form_tag({:action => 'create'},{:class => 'pure-form pure-form-aligned'}) do
  %div.pure-control-group
    = label :instructor, :TID, 'Username'
    %select{:name => 'instructor[TID]',:id => 'instructor_TID'}
      %option{:value=>'Please select'} Please select
      -@users.each do |c|
        %option{:value=>c.id}
          =h c.uname
  %div.pure-control-group
    = label :instructor, :instructor_name, 'Name'
    = text_field :instructor, 'instructor_name'
  %div.pure-control-group
    = label :instructor, :major, 'Major'
    = text_field :instructor, 'major'

  = submit_tag 'Save Changes', class: 'pure-button pure-button-primary', :id => 'add_submit'