.content
  = render :partial => 'layouts/menu'
%h2 Details about #{@teacher.instructor_name}

%ul#details
  %li
    Name:
    = @teacher.instructor_name
  %li
    TID:
    = @teacher.TID
  %li
    Major:
    = @teacher.major
  %li
    ID:
    = @teacher.id