%h1.h1.centerino About
%br

%h2.centerino รายชื่อ
%table#movies.pure-table.nametable.centerino
  %thead
    %tr
      %th Firstname
      %th Lastname
      %th Student ID
  %tbody
    %tr
      %td= "นางสาว บัณฑิตา"
      %td= "อวยชัยเจริญ"
      %td= "5510613234"
    %tr
      %td= "นางสาว วรินทร"
      %td= "เขมชัยวพุธ"
      %td= "5510613259"
    %tr
      %td= "นางสาว รุจิรางค์"
      %td= "ไวยดารา"
      %td= "5510613275"
    %tr
      %td= "นางสาว ชมพูนิกข์"
      %td= "ประการแก้ว"
      %td= "5510613325"
    %tr
      %td= "นางสาว ณัฐณิชา"
      %td= "เหลืองอ่อน"
      %td= "5510613424"
    %tr
      %td= "นาย อานันท์"
      %td= "ศุภวิไล"
      %td= "5510613317"
%br
%h2 Requirement
%div.listAbox.centerino
  %ul
    %li 1.เพิ่มวิชา
    %li 2.ลบวิชา
    %li 3.ค้นหาชื่อวิชา (จาก id วิชา / ชื่อคนสอน / ภาคการศึกษา)
    %li 4.แสดงตารางเรียน (ต้องใช้ข้อมูลกลุ่มอื่น)
    %li 5.ดูรายละเอียดวิชา (ค้นจากชื่อวิชา / id วิชา โดยแสดง )
    %ul
      %li 5.1 id
      %li 5.2 ชื่อวิชา
      %li 5.3 ภาคเรียน
      %li 5.4 ผู้สอน
      %li 5.5 ห้องเรียน
      %li 5.6 ห้องสอบ"
      
%br
%h2 ER Diagram
=image_tag "ER-1.jpg"

%h2 User Stories
%div
  %pre
    :preserve
      Feature: Add
        As a admin
        So that I can share a course
        I want to add a course to course database
      Feature: Edit 
        As a admin
        So that I can edit a course
        I want to edit a course in course database
