-#  This file is app/views/course/index.html.haml
%h1 All Course

%p= flash[:notice]

%table#courses.pure-table.centerino
  %thead
    %tr
      %th Sudject ID
      %th Subject
      %th Describe
      %th Teacher ID
      %th Section
      %th Semester
      %th Curriculum
      %th Available
      %th Delete
      %th Option
  %tbody
    - @courses.each do |course|
      %tr
        %td= course.SID
        %td= course.name
        %td= course.about
        %td= link_to "#{course.TID}", "/teacher/#{course.TID}"
        %td= course.section
        %td= course.semester
        %td= course.curriculum
        %td= course.available
        %td= link_to "Delete", "#{course.id}", :method => :delete, :id => "delete_submit_#{course.SID}"
        %td= link_to "#{course.SID}", "information/#{course.id}", :id => "info_submit_#{course.SID}"
    %tr
      %td{:colspan => 10}= link_to 'Add new Course', 'add'
%br
= link_to 'Add new Course', '/course/add'
%br
= link_to 'Add new Instructor', '/teacher/add'
%br
= link_to 'View all Instructor', '/teacher/all'
%br
= link_to 'About Us', '/course/about'