.content
  = render :partial => 'layouts/menu'


%h2 Details about #{@course.name}
%p= flash[:notice]

%ul#details
  %li
    Name:
    = @course.name
  %li
    SID:
    = @course.SID
  %li
    Instructor:
    = @teacher.instructor_name
  %li
    Instructor ID:
    = @teacher.id
  %li
    Describe:
    = @course.about
  %li
    Section:
    = @course.section
  %li
    Semester:
    = @course.semester
  %li
    Curriculum:
    = @course.curriculum
  %li
    Available:
    = @course.available
  %li
    Day:
    = @schedule.day
  %li
    Start time (Hour):
    = @schedule.start_hr
  %li
    Start time (Minute):
    = @schedule.start_min
  %li
    Duration:
    = @schedule.duration
  %li
    = link_to "Edit",  "#{@course.id}/edit", :id => "edit_submit_#{@course.SID}"
    