.content
  = render :partial => 'layouts/menu'
- [:notice, :error, :success].each do |key|
  - unless flash[key].blank?
    %p{ :class => "flash #{key}" }= flash[key] 

%h1 View Timetable
= form_tag({:action => 'view'},{:class => 'pure-form pure-form-aligned'}) do
  %div.pure-control-group
    = label :schedule, :uid, 'Username'
    %input{:value=>"#{session[:uname]}",:disabled=>true}
    -if session[:uname] == 'admin'
      %select{:name=>"id", :id=>"id"}
        %option{:value=>"Please select"} Please select
        -@users.each do |c|
          %option{:value=>c.id}
            =h "#{c.uname}"
    -else
      %input#id{:name => "id", :type => "hidden", :value=>"#{session[:uid]}"}
  .pure-control-group
    %label
    = submit_tag 'View Timetable', class: 'pure-button pure-button-primary', :id => 'view_submit'
  
%h1 Registration
= form_tag({:action => 'regis'},{:class => 'pure-form pure-form-aligned'}) do
  %div.pure-control-group
    = label :schedule, :uid, 'Username'
    %input{:value=>"#{session[:uname]}",:disabled=>true}
    -if session[:uname] == 'admin'
      %select{:name=>"study[user_id]", :id=>"study_user_id"}
        %option{:value=>"Please select"} Please select
        -@users.each do |c|
          %option{:value=>c.id}
            =h "#{c.uname}"
    -else
      %input#study_user_id{:name => "study[user_id]", :type => "hidden", :value=>"#{session[:uid]}"}
  %div.pure-control-group
    = label :schedule, :uid, 'Course'
    %select{:name => 'study[course_id]',:id => 'study_course_id'}
      %option{:value=>'Please select'} Please select
      -@courses.each do |c|
        %option{:value=>c.id}
          =h "#{c.SID}: #{c.name}"
  .pure-control-group
    %label
    = submit_tag 'Submit', class: 'pure-button pure-button-primary', :id => 'regis_submit'