.content
  = render :partial => 'layouts/menu'
%h1 View Timetable #{@find.uname}
= form_tag({:action => 'view'},{:class => 'pure-form pure-form-aligned'}) do
  %div.pure-control-group
    = label :schedule, :uid, 'Username'
    %select{:name => 'id',:id => 'id'}
      -@users.each do |c|
        %option{:value => c.id, :selected => @find==c}
          =h c.uname
  = submit_tag 'View Timetable', class: 'pure-button pure-button-primary', :id => 'view_submit'
  
%h2 #{@find.uname} Register
%table#courses.pure-table.centerino
  %thead
    %tr
      %th Sudject ID
      %th Subject
      %th Describe
      %th Teacher ID
      %th Section
      %th Semester
      %th Curriculum
      %th Available

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.SID
        %td= course.name
        %td= course.about
        %td= link_to "#{course.TID}", "/teacher/#{course.TID}"
        %td= course.section
        %td= course.semester
        %td= course.curriculum
        %td= course.available


%br
= link_to 'Search Course', '/course/search'
%br
= link_to 'Add new Course', '/course/add'
%br
= link_to 'Add new Instructor', '/teacher/add'
%br
= link_to 'View all Instructor', '/teacher/all'
%br
= link_to 'About Us', '/course/about'
%br
= link_to 'View all User', '/user/index'
%br
= link_to 'Time Table & Registration', '/timetable/index'