.content
  = render :partial => 'layouts/menu'
%h1 View Timetable #{@find.uname}
= form_tag({:action => 'view'},{:class => 'pure-form pure-form-aligned'}) do
  %div.pure-control-group
    = label :schedule, :uid, 'Username'
    %input{:value=>"#{session[:uname]}",:disabled=>true}
%br
%table#timetable.pure-table.pure-table-bordered
  %thead
    %tr.lh
      %th Day/Time
      %th{:colspan => "2"} 8.00-9.00
      %th{:colspan => "2"} 9.00-10.00
      %th{:colspan => "2"} 10.00-11.00
      %th{:colspan => "2"} 11.00-12.00
      %th{:colspan => "2"} 12.00-13.00
      %th{:colspan => "2"} 13.00-14.00
      %th{:colspan => "2"} 14.00-15.00
      %th{:colspan => "2"} 15.00-16.00
      %th{:colspan => "2"} 16.00-17.00
    %tr
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
  %tbody.lb
    %tr
      %td Monday
      -d=0
      -@course_monday.each do |c|
        -a=0
        -b=0
        -a+=2*(c.start_hr-8)+(c.start_min/30)-d
        -if a != 0
          %td{:colspan => a}
        -b+=c.duration/30
        %td{:colspan => b} #{c.SID}
        -d+=a+b
      -if d<18
        -t=18-d
        %td{:colspan => t}
    %tr
      %td Tuesday
      -d=0
      -@course_tuesday.each do |c|
        -a=0
        -b=0
        -a+=2*(c.start_hr-8)+(c.start_min/30)-d
        -if a != 0
          %td{:colspan => a}
        -b+=c.duration/30
        %td{:colspan => b} #{c.SID}
        -d+=a+b
      -if d<18
        -t=18-d
        %td{:colspan => t}     
    %tr
      %td Wednesday
      -d=0
      -@course_wednesday.each do |c|
        -a=0
        -b=0
        -a+=2*(c.start_hr-8)+(c.start_min/30)-d
        -if a != 0
          %td{:colspan => a}
        -b+=c.duration/30
        %td{:colspan => b} #{c.SID}
        -d+=a+b
      -if d<18
        -t=18-d
        %td{:colspan => t}     
    %tr
      %td Thursday
      -d=0
      -@course_thursday.each do |c|
        -a=0
        -b=0
        -a+=2*(c.start_hr-8)+(c.start_min/30)-d
        -if a != 0
          %td{:colspan => a}
        -b+=c.duration/30
        %td{:colspan => b} #{c.SID}
        -d+=a+b
      -if d<18
        -t=18-d
        %td{:colspan => t}        
    %tr
      %td Friday
      -d=0
      -@course_friday.each do |c|
        -a=0
        -b=0
        -a+=2*(c.start_hr-8)+(c.start_min/30)-d
        -if a != 0
          %td{:colspan => a}
        -b+=c.duration/30
        %td{:colspan => b} #{c.SID}
        -d+=a+b
      -if d<18
        -t=18-d
        %td{:colspan => t}  
  
%h2 #{@find.uname} Register
%table#courses.pure-table.centerino
  %thead
    %tr
      %th Sudject ID
      %th Subject Name
      %th Day
      %th StartHr
      %th StartMin
      %th Duration(Min)

  %tbody
    - @courses.each do |course|
      %tr
        %td= course.SID
        %td= course.name
        %td= @day[course.day-1]
        %td= course.start_hr
        %td= course.start_min
        %td= course.duration