- [:notice, :error, :success].each do |key|
  - unless flash[key].blank?
    %p{ :class => "flash #{key}" }= flash[key] 
    
%h1 Show All Users
%table#courses.pure-table.centerino
  %thead
    %tr
      %th User ID
      %th Username
      %th Time Table
      %th Remove
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.uname
        %td= link_to "View", "/timetable/view/#{user.id}"
        %td= link_to "Delete", "#{user.id}", :method => :delete, :id => "delete_submit_#{user.uname}"
    %tr
      %td{:colspan => 10}= link_to 'Add new User', '/user/add'
      
%br
= link_to 'Search Course', '/course/search'
%br
= link_to 'Add new Course', '/course/add'
%br
= link_to 'Add new Instructor', '/teacher/add'
%br
= link_to 'View all Instructor', '/teacher/all'
%br
= link_to 'About Us', '/course/about'
%br
= link_to 'View all User', '/user/index'
%br
= link_to 'Time Table', '/timetable/index'