.content
  = render :partial => 'layouts/menu'

%h1 Login to User Account
= form_tag({:action => 'login', :method=>:post, :controller=>:user},{:class => 'pure-form pure-form-aligned'}) do
  %fieldset
    %div.pure-control-group
      = label :login, :uname, 'Username'
      %input#uname{:name => "uname", :placeholder => "Username", :type => "text"}
    %div.pure-control-group
      = label :login, :password, 'Password'
      %input#password{:name => "password", :placeholder => "Password", :type => "password"}
    .pure-control-group
      %label 
      %input#login_submit.pure-button.pure-button-primary{:name => "commit", :type => "submit", :value => "Login"}
      %a.pure-button.pure-button-primary{:href => "/user/add"} Sign Up
- [:notice, :error, :success].each do |key|
  - unless flash[key].blank?
    %p.pure-button{ :class => "flash #{key}" }= flash[key] 
%p Only admin account can see, edit, delete on Course, Instructor, User
%p Student user can regis courses.
%p Anyone can sign up.