%h1.h1 About
%table#movies.pure-table.nametable
  %thead
    %tr
      %th Student ID
      %th Firstname
      %th Lastname
  %tbody
    %tr
      %td= "นางสาวบัณฑิตา"
      %td= "อวยชัยเจริญ"
      %td= "5510613234"
    %tr
      %td= "นางสาววรินทร"
      %td= "เขมชัยวพุธ"
      %td= "5510613259"
    %tr
      %td= "นางสาวรุจิรางค์"
      %td= "ไวยดารา"
      %td= "5510613275"
    %tr
      %td= "นางสาวชมพูนิกข์"
      %td= "ประการแก้ว"
      %td= "5510613325"
    %tr
      %td= "นางสาวณัฐณิชา"
      %td= "เหลืองอ่อน"
      %td= "5510613424"
    %tr
      %td= "นาย อานันท์"
      %td= "ศุภวิไล"
      %td= "5510613317"
