%h1.h1 About
%br

%h2 รายชื่อ
%table#movies.pure-table.nametable
  %thead
    %tr
      %th Student ID
      %th Firstname
      %th Lastname
  %tbody
    %tr
      %td= "นางสาวบัณฑิตา"
      %td= "อวยชัยเจริญ"
      %td= "5510613234"
    %tr
      %td= "นางสาววรินทร"
      %td= "เขมชัยวพุธ"
      %td= "5510613259"
    %tr
      %td= "นางสาวรุจิรางค์"
      %td= "ไวยดารา"
      %td= "5510613275"
    %tr
      %td= "นางสาวชมพูนิกข์"
      %td= "ประการแก้ว"
      %td= "5510613325"
    %tr
      %td= "นางสาวณัฐณิชา"
      %td= "เหลืองอ่อน"
      %td= "5510613424"
    %tr
      %td= "นาย อานันท์"
      %td= "ศุภวิไล"
      %td= "5510613317"
%br
%h2 Requirement
%div.listAbox
  %ul
    %li 1.เพิ่มวิชา
    %li 2.ลบวิชา
    %li 3.ค้นหาชื่อวิชา (จาก id วิชา / ชื่อคนสอน / ภาคการศึกษา)
    %li 4.แสดงตารางเรียน (ต้องใช้ข้อมูลกลุ่มอื่น)
    %li 5.ดูรายละเอียดวิชา (ค้นจากชื่อวิชา / id วิชา โดยแสดง )
    %ul
      %li 5.1 id
      %li 5.2 ชื่อวิชา
      %li 5.3 ภาคเรียน
      %li 5.4 ผู้สอน
      %li 5.5 ห้องเรียน
      %li 5.6 ห้องสอบ"